body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(242, 242, 242);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.text-center {
  text-align: center;
}